@model FavoriteVM

<div class="container">
    <br />
    <div class="card shadow border-0">
        <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
            <div class="row px-4">
                <div class="col-6">
                    <h5 class="pt-2 text-white">
                        Favorites
                    </h5>
                </div>
            </div>
        </div>
        <div class="card-body my-4">
            <div class="row">
            </div>
            <div class="row mb-3 pb-3">
                <div class="offset-md-1">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>Back To Home</small></a>
                </div>
                <div class="col-md-10 offset-md-1">
                    @if(Model.FavoritesList.Count() > 0)
                    {
                        @foreach (var item in Model.FavoritesList)
                        {
                        <div class="row border-bottom pb-3 align-items-center">
                            <div class="col-2 col-xl-1 order-1 text-center px-lg-0 py-0 py-lg-0">
                                <div class="col-12 col-lg-9 col-xl-12">
                                    <a asp-controller="Home" asp-action="Details" asp-route-productId="@item.ProductId" >
                                        <img src="@item.Product.ImageUrl" class="img-fluid rounded" alt="@item.Product.Title">
                                    </a>
                                </div>
                            </div>
                            <div class="col-8 col-xl-9 order-2 flex-grow-1">
                                <h5 class="text-uppercase mb-1">
                                    <a asp-controller="Home" asp-action="Details" asp-route-productId="@item.ProductId" class="text-decoration-none text-secondary">
                                        <strong>@item.Product.Title</strong>
                                    </a>
                                </h5>
                                <p class="mb-0 text-black-50"><small> by @item.Product.Author</small></p>
                            </div>
                            <div class="col-2 col-xl-2 order-3 text-center">
                                <a asp-action="Remove" asp-route-productId="@item.ProductId" class="btn btn-outline-danger py-2 float-lg-end float-start">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </div>
                        }
                    }
                    else
                    {
                        <div class="text-center">No favorites found</div>
                    }
                </div>
            </div>
        </div> 
    </div>
</div>