@model HomeVM

<div class="container pb-5">
    <div class="container-fluid bg-body-tertiary rounded py-2">
        <form class="d-flex flex-column" method="post">
            <div class="p-1">
                <input asp-for="@Model.searchString" class="form-control me-2" type="search" placeholder="Search">
            </div>
            <div class="d-flex p-1 justify-content-between">
                <div class="d-flex justify-content-end align-items-center gap-2">
                    <label class="ms-2 form-text text">Category:</label>
                    <select asp-for="@Model.categoryId" asp-items="@Model.CategoryList" class="form-select" style="cursor:pointer">
                    </select>
                </div>
                <div>
                    <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i>  Search</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Recommended Books Section Start -->
    @if (Model.ProductList != null && Model.RecommendedProductList.Any())
    {
        <div class="container-fluid mt-3 mb-3 bg-body-tertiary rounded py-2 px-1">
            <h4 class="text-center fw-semibold text-secondary text-uppercase pb-1 fs-3">Recommended Books For You</h4>

            <div class="d-flex align-items-center overflow-hidden position-relative ">
                <button class="btn btn-outline-dark  d-flex align-items-center  left-scroll-button border-0 ">  <i class="bi bi-arrow-left fs-4"@*  style="font-size: 18px;" *@></i>  </button>
                <div class=" scrolling-wrapper d-flex  mx-0  py-3  g-2 ">
                    @foreach (var product in Model.RecommendedProductList.Take(15))
                    {
                        <div class=" card-container " style="min-width: 200px;width:fit-content; ">
                            <div class="card  p-2 shadow  border-0 border-top border-5 rounded   overflow-hidden" style="display:inline-block;   width: 200px ; min-height: fit-content;">
                                <div class="position-relative">
                                    <img src="@product.ImageUrl" class="card-img-top rounded" style="max-height:200px" />
                                    <form asp-action="Favorite" method="post">
                                        <input type="hidden" name="favoriteProductId" value="@product.Id" />
                                        <input type="hidden" name="categoryId" value="@Model.categoryId" />
                                        <input type="hidden" name="searchString" value="@Model.searchString" />
                                        <button type="submit" class="bg-white border-0 text-warning mx-0 my-0 py-0 position-absolute top-0 end-0 rounded-circle d-none star-icon">
                                            @if (Model.FavoriteVM.FavoritesList.Any(f => f.ProductId == product.Id))
                                            {
                                                <i class="bi bi-star-fill fs-4"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-star fs-4"></i>
                                            }
                                        </button>
                                    </form>
                                </div>
                                <div class="card-body pb-0 align-content-end">
                                    <div class="pl-1">
                                        <p class="card-title h6 text-dark opacity-75 text-uppercase text-center" style="font-size:0.9rem">@product.Title</p>
                                        <p class="card-title text-warning text-center" style="font-size:0.8rem">by <b>@product.Author</b></p>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-dark text-opacity-75 text-center mb-0" style="font-size:0.75rem">
                                            List Price:
                                            <span class="text-decoration-line-through">
                                                ₹ @product.ListPrice.ToString();
                                            </span>
                                        </p>
                                    </div>
                                    @if (User.IsInRole(SD.Role_Company))
                                    {
                                        <div class="pl-1">
                                            <p class="text-dark text-opacity-75 text-center" style="font-size:0.75rem">
                                                as low as:
                                                <span>
                                                    ₹ @product.Price100.ToString();
                                                </span>
                                            </p>
                                        </div>
                                    }
                                    else if (product.ListPrice != product.Price)
                                    {
                                        <div class="pl-1">
                                            <p class="text-dark text-opacity-75 text-center" style="font-size:0.75rem">
                                                as low as:
                                                <span>
                                                    ₹ @product.Price.ToString();
                                                </span>
                                            </p>
                                        </div>
                                    }

                                </div>
                                <div class="">
                                    <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control" style="font-size:0.75rem">
                                        Details
                                    </a>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <button class=" btn btn-outline-dark  d-flex align-items-center right-scroll-button border-0 ">   <i class="bi bi-arrow-right fs-4" @* style="font-size: 18px;" *@></i>  </button>
            </div>
        </div>
    }
    <!-- Recommended Books Section End -->


    <div class="container-fluid row pb-3 bg-body-secondary mx-0 mt-3 rounded " style="min-height:500px">
        @if (Model.ProductList != null && Model.ProductList.Any())
        {
            @foreach (var product in Model.ProductList)
            {
                <div class="col-sm-6 col-lg-3">
                    <div class="row p-2 h-100">
                        <div class="col-12 p-1 h-100">
                            <div class="card border-0 p-3 shadow border-top border-5 rounded h-100 position-relative overflow-hidden">
                                <div class="position-relative">
                                    <img src="@product.ImageUrl" class="card-img-top rounded" />
                                    <form asp-action="Favorite" method="post">
                                        <input type="hidden" name="favoriteProductId" value="@product.Id" />
                                        <input type="hidden" name="categoryId" value="@Model.categoryId" />
                                        <input type="hidden" name="searchString" value="@Model.searchString" />
                                        <button type="submit" class="bg-white border-0 text-warning mx-0 my-0 py-0 position-absolute top-0 end-0 rounded-circle d-none star-icon">
                                            @if (Model.FavoriteVM.FavoritesList.Any(f => f.ProductId == product.Id))
                                            {
                                                <i class="bi bi-star-fill fs-4"></i>
                                            }
                                            else
                                            {
                                                <i class="bi bi-star fs-4"></i>
                                            }
                                        </button>
                                    </form>
                                </div>
                                <div class="card-body pb-0 align-content-end">
                                    <div class="pl-1">
                                        <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                        <p class="card-title text-warning text-center">by <b>@product.Author</b></p>
                                    </div>
                                    <div class="pl-1">
                                        <p class="text-dark text-opacity-75 text-center mb-0">
                                            List Price:
                                            <span class="text-decoration-line-through">
                                                &#8377 @product.ListPrice.ToString();
                                            </span>
                                        </p>
                                    </div>
                                    @if (User.IsInRole(SD.Role_Company))
                                    {
                                        <div class="pl-1">
                                            <p class="text-dark text-opacity-75 text-center">
                                                as low as:
                                                <span>
                                                    ₹ @product.Price100.ToString();
                                                </span>
                                            </p>
                                        </div>
                                    }
                                    else if (product.ListPrice != product.Price)
                                    {
                                        <div class="pl-1">
                                            <p class="text-dark text-opacity-75 text-center">
                                                as low as:
                                                <span>
                                                    ₹ @product.Price.ToString();
                                                </span>
                                            </p>
                                        </div>
                                    }
                                </div>
                                <div>
                                    <a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
                                        Details
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="d-flex justify-content-center align-items-center">
                <div class=""> No Results Found </div>
            </div>
        }
    </div>
</div>


<style>
    .star-icon:hover {
        background-color: rgb(243, 243, 243) !important;
        cursor: pointer;
    }

    .star-icon {
        transition: all 0.4s ease-in-out;
    }

    .scrolling-wrapper {
        overflow-x: auto;
        white-space: nowrap;
        scroll-behavior: smooth;
        padding: 2px 0px;
    }

    .left-scroll-button, .right-scroll-button {
        z-index: 10;
        position: absolute;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        background: white;
        transition: background 0.4s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-scroll-button {
        right: 0.8rem;
    }

    .left-scroll-button {
        left: 0.8rem;
    }

</style>


<script>
    document.addEventListener('DOMContentLoaded', function () {

        const wrapper = document.querySelector('.scrolling-wrapper');
        const leftScrollButton = document.querySelector('.left-scroll-button');
        const rightScrollButton = document.querySelector('.right-scroll-button');


        leftScrollButton.addEventListener("click", () => {
            wrapper.scrollLeft -= wrapper.offsetWidth
        })


        rightScrollButton.addEventListener("click", () => {

            wrapper.scrollLeft += wrapper.offsetWidth;
        })

    });
</script>